<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div>
        <h1 class="display-4">Welcome to the <%=title %> page</h1>
      </div>
    </div>
      <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd">
            <br><br>
            <img src="Assets/images/project1.jpeg" alt="responsive website"
            class="img-fluid">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
            
            <h><b>Project 1 :</b> </h>
            <p></b>Heliotropism, a form of tropism, is the diurnal motion or seasonal motion of plant parts in response to the direction of the sun, so our main motive was to utilize maximum solar energy on solar panels by moving them with two motors in the direction of sunlight. </p>
      <h1>Role:</h1> <p>Coding for Arduino Board</p>
      <h1>Outcome : </h1><p>So, we built a replica of heliotropism by using 4 LDR as sensor’s, arduino, 2 servo motors, 4 resistors, 2 potentiometers, connecting wires and breadboard. The LDR on the tracker detects heat and send the required signal to the arduino board and it use it as per the coding given to it. The arduino gives the servo motor the required input and rotate it to move it in the direction so that the top of the tracker will never come in shade if a light source is available.</p>
            
          </div>
        </div>
      </div>
    </div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd">
      <br><br>
      <img src="Assets/images/project2.jpg" alt="responsive website"
      class="img-fluid">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
      
        <h><b>Project 2 :</b> </h>
        <p><b>Project - </b> We built a robot which moved with the gesture of hand and provided environmental conditions (temperature and light intensity) of particular place on an android device.</p>
      <h1>Role: </h1> <p>Coding for Arduino Board and connection of wires with LDR and different modules. <br>Coding for Arduino Board</p>
      <h1>Outcome : </h1><p>The purpose of this robot was to determine the temperature and light intensity of the surrounding environment so as to ascertain whether or not the place was safe to go to</p>
      
    </div>
  </div>
</div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5" style="border:1px solid #ddd">
          <br><br>
          <img src="Assets/images/pro3.jpeg" width="4000" 
          height="500" alt="responsive website"
          class="img-fluid">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid #ddd">
          
            <h><b>Project 3 :</b> </h>
            <p>We created an android application which can hide/unhide data in the form of image. The project was based on steganography, which is the technique of concealing a file, message, image, or video within another file, message, image, or video.</p>
            <h1>Role:</h1><p>Coding in Java for getting all the basic information of image.</p>
            <h1>Outcome : </h1><p>The application allowed users to send text as a secrete message inside an image file. First, the user uploads the image and enters the text to send secretly, and gives a key or a password to lock the text. We used tripleDES (Triple Data Encryption) algorithm which applies the DES cipher algorithm three times on text, so that the data remains secure as this encryption cannot be broken by anyone.</p>
          
        </div>
      </div>
    </div>
</div>



    </main>

  
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

 